.fixed {
    position: fixed;
    bottom: 0px;
    right: 10px;
    width: 29%;
    min-width: 29%;
    z-index: 99999;
    max-height: 280px;
    overflow: hidden;
    background: #f9edbe;
    border-radius: 4px;
    border: 1px solid #f0c36d;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.glow {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
.modal  {
	top: -110px;
}

.modal-body  {
	max-height: 400px !important;
	overflow: auto;
}
.modal .modal-header a{
	color: #fff !important;
}

#help .help-content  {
	min-height: 420px;
	max-height: 420px !important;
	overflow: auto;
}

.min {
  width: 245px !important;
  height: 50px;
  overflow: hidden !important;
  padding: 0px !important;
  margin: 0px;
  float: left;
  position: static !important;
}

.min .modal-dialog, .min .modal-content {
  height: 100%;
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

.min .modal-header {
  height: 100%;
  width: 100%;
  margin: 0px !important;
  padding: 3px 5px !important;
}

.display-none { display: none; }

.minmaxCon {
  height: 45px;
  bottom: 40px;
  left: 5px;
  position: fixed;
  right: 1px;
  z-index: 9999;
}
/* expanding page-sidebar-menu ul last child */
.page-sidebar-menu{
	margin-bottom: 250px !important;
}
/* RBAC Tabs*/
.widget-tab {
    min-height: 0px !important;
}
/* fixed panel body part of the dashboard bi screens */
/* */
.page-actions .btn {
    float: none !important; 
}
.modal button.close{
	opacity: 1 !important;
	text-indent: 0 !important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .dropdown-menu:after {
    border-bottom-color: #c2c2c2;
    top: -13px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu {
    margin-top: 5px;
}
.page-content-wrapper .page-content{
	padding: 10px 0 0 0px;
}

.toast-bottom-right {
  right: 20px !important;
  bottom: 40px !important;
}
.paddng {
    padding: 0px;
    border: none;
    background-color: #fff !important;
}
#login-form .modal .modal-header{
	display: none;
}

.grid-view td 
{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.glyphicon.glyphicon-pencil{
	color: #d0a625 !important;	
    padding-right: 8px;
}
.glyphicon.glyphicon-trash{
	color: #F3565D !important;
}
.glyphicon.glyphicon-eye-open{
	color: #1FB5AD !important;
}
.page-header.navbar .menu-toggler {
  background-image: none;
}
.grid-view{
	padding-top:10px;
}
.breadcrumb li::after{
	content:'/' !important;
	color:#c2c2c2 !important;
	padding-left:5px !important;
	padding-right:0px !important;
}
.breadcrumb li:last-child::after{
	content:'' !important;
}
.breadcrumb{
	padding-top:5px !important;
	padding-bottom:10px !important;
}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active{
	display: none !important;
}
#google_translate_element{
	margin-top: 22px !important;
}
.goog-te-gadget{
	color:white !important;
}
.goog-te-combo{
	color:#000 !important;
}
.goog-te-gadget .goog-te-combo{
	padding: 0px !important;
}
.goog-te-combo {  
  display: block ;
  width: 100%;
  height: 28px;
  padding: 6px 12px;
  padding-left:10px;
  padding-right:20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 20px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.goog-te-combo:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.grid-view .panel .panel-heading{
	display:none !important;
}

table .form-control
{   
    border-radius: 0px !important;
    height:28px !important;
}
.portlet .portlet-footer{
	bottom: 23px;
	left: 255px;
	right: 20px;
	margin-bottom: 0px;
	position: fixed;
	z-index: 1;
	border: 0;
	background: #fff none repeat scroll 0% 0%;
}
  .panel-fullscreen {
      display: block;
      z-index: 9999;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 75px;
      right: 0;
      left: 0;
      bottom: 0;
      overflow: auto;
  }
.modal .modal-header .close {
	color: #fff !important;
}

.kv-editable-link {
	border-bottom: 0px;
	color: #9E9FA3;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover,
	.nav-tabs.nav-justified>.active>a:focus {
	border-bottom-color: rgb(224, 224, 224);
	background-color: whitesmoke;
}

img.center {
	display: block;
	margin: 0 auto;
}

.prf-box.fontpr-box {
	background-color: white;
	font-size: 20px;
}
.rc-handle-container {
	position: static;
}

.ui-autocomplete {
	/* Added by Aswathi on 13/Dec/2016 to get scoll in autocomplete */
	max-height: 200px;
	max-width: 669px;
	overflow-y: auto;
	overflow-x: hidden;
}

.alert-icon i {
    line-height: 40px !important;
    font-size: 20px !important;
}
.mini-stat i{
    font-size: 30px !important;
    line-height: 60px !important;
}
.row {
  margin: 0px !important;
  margin-bottom: 10px !important;
}
.form-group {
  margin-bottom: 0px !important;
}
.btn-shortcut{
	color: #c0c0c0 !important;
    background-color: #fff !important;
	border: solid 2px #c0c0c0 !important;
	padding-top:6px;
}
.btn-group .btn-shortcut{
	border-width:1px !important;
}
.btn-shortcut > i{
	color: #c0c0c0 !important;
}
.grid-view .panel .panel-footer{
	bottom: 23px;
	left: 257px;
	right: 22px;
	margin-bottom: 0px;
	position: fixed;
	z-index: 2;
	border: 0;
	border-top: 1px solid #e1e1e1;
	background: #fff none repeat scroll 0% 0%;
}
.fixed-panel-body{
	min-height: 470;
	max-height: 470;
	overflow: hidden;
}
.nicescroll {
	width: 100% !important;
	position: relative !important;
	height: 1000px;
	overflow: auto;
}

table{	
    font-family: "Open Sans",sans-serif;
    font-size: 13px !important;
}
th{
color: #333333 !important;	
font-weight: bold !important;
}
th a{
color: #333333 !important;	
font-weight: bold;
}

/* format username part of the header */
/* */
ul{
  padding-left:20px;
}
.editable-wrap .editable-controls>input, .editable-wrap .editable-controls>select, .editable-wrap .editable-controls>textarea{
	margin-left:0px !important;
	margin-right:0px !important;
}

/* Dropdown button for multiselect */
.ams-items {
    max-height: 30vh;
    min-width: 300px;
}
.ams-button{
	width: 100%;
}
.ams-button>.ams-button-text{
	width:500%;
	text-align: left !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;	
	-o-text-overflow:ellipsis !important;
}
.ams-button>.ams-caret{
	width: 100% !important;
	text-align: right !important;
}
select.form-control{
   -webkit-appearance:menu-item; 
   -moz-appearance:menu-item;
   height: 28px !important;  
   border-radius: 5px !important;  
}
/* Dropdown button for multiselect */

.datepicker .active.day{
	background-color: #f1414a !important;
}
/* dialog options */
.bootbox.modal{
	z-index: 12000 !important;
}

/*fancy angular modal*/
body.screenwide .page-header.navbar.navbar-fixed-top{
	z-index: 1049;
}
body.screenwide .page-footer{
	z-index: 1049;	
}
body.screenwide  .fancymodal .portlet-footer{
	left: 301px !important;
    right: 91px !important;
    bottom: 40px !important;
}
body.screenwide .fancymodal{
	padding-top: 30px;	
	max-height:100%;
}
body.screenwide .fancymodal .fancymodal-close{
	display:none;
}
body.screenwide .fancymodal .fancymodal-content{
	max-width: 1000px;
	padding-top: 15px;	
	margin-left: 280px;
}
body.screenwide.page-sidebar-closed .fancymodal-content{
	margin-left: 180px;
}
/*fancy angular modal*/

.toaster-position{
	bottom: 35px;
	right: 30px;	
}
#toast-container{
	z-index: 13000000;
}
/* dialog options */

/*vertical progress bar starts*/
.progress-bar-vertical {
  width: 20px;
  min-height: 100px;
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
  float: left;
}
.progress-bar-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
/*vertical progress bar ends*/

.form-wizard .steps > li > a.step > .desc{
	font-size: 14px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
    padding: 20px 10px 18px 10px;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > img{
	margin-top: -25px;
}
/*Turn a Text Field To A Password Field*/
.password{
	text-security:disc;
    -webkit-text-security:disc;
    -mox-text-security:disc;
}
/* format username part of the header */

/*Fonts*/
.font12{
	font-size:12px !important;
}
.font13{
	font-size:13px !important;
}
.font14{
	font-size:14px !important;
}
.font15{
	font-size:15px !important;
}
.font16{
	font-size:16px !important;
}
/*Fonts*/

/* adjust toaster position here */

.display-inline{
	display: inline;	
}
.noscroll{
	overflow:hidden !important;
	overflow-y:hidden !important;
	overflow-x:hidden !important;
}
.noscrolly{
	overflow-y:hidden !important;
}
.noscrollx{
	overflow-x:hidden !important;
}
.fixed-table{
	width:100% !important;
	padding:5px !important;
	table-layout:fixed !important;
}
 .small-tb>tbody>tr>td, .small-tb>tbody>tr>th, .small-tb>tfoot>tr>td, 
 .small-tb>tfoot>tr>th, .small-tb>thead>tr>td, .small-tb>thead>tr>th
 {
 	padding: 2px !important;
 }
 .medium-tb>tbody>tr>td, .medium-tb>tbody>tr>th, .medium-tb>tfoot>tr>td, 
 .medium-tb>tfoot>tr>th, .medium-tb>thead>tr>td, .medium-tb>thead>tr>th
 {
 	padding: 4px !important;
 }
 
 .panel-info>.tbody>tr>td, .panel-info>tbody>tr>th, .panel-info>tfoot>tr>td,
 .panel-info>tfoot>tr>th, .panel-info>thead>tr>td, .panel-info>thead>tr>th 
 {
 	padding: 4px !important;
 } 
 
.login-components input[type=text], .login-components input[type=password]{
	background-color: #f2f2f3 !important;
}

.registration .form-group, .cyclesg .form-group{
	margin-bottom:3px !important;
}
.registration .portlet-body{
	border-radius: 4px !important;
	border: 2px solid #9E9FA3 !important;
}

/* progress steps settings */
.registration .steps, .cyclesg .steps{
	background-color:transparent !important;
}
.registration .form-wizard .steps > li > a.step, .cyclesg .form-wizard .steps > li > a.step{
	background-color:transparent !important;
}
.registration .form-wizard .steps > li > a.step > .number,.cyclesg .form-wizard .steps > li > a.step > .number{
	background-color:#f2f2f3 !important;
	color: #cacbce !important;
}
.registration .form-wizard .steps > li.active > a.step > .number, .cyclesg .form-wizard .steps > li.active > a.step > .number{
	background-color:#808080 !important;
	color: #ffffff !important;
}
.registration .form-wizard .steps > li > a.step > .desc, .cyclesg .form-wizard .steps > li > a.step > .desc{	
	color: #cacbce !important;
}
.registration .form-wizard .steps > li.active > a.step > .desc, .cyclesg .form-wizard .steps > li.active > a.step > .desc{
	color: #808080 !important;
}
.registration .form-wizard .steps > li.done > a.step > .number, .cyclesg .form-wizard .steps > li.done > a.step > .number{
	background-color: #9E9FA3 !important;
	color: #ffffff !important;
}
.registration .form-wizard .steps > li.done > a.step > .desc, .cyclesg .form-wizard .steps > li.done > a.step > .desc{
	color: #9E9FA3 !important;
}
.registration .progress, .cyclesg .progress{
	background-color:#cacbce !important;
}
.registration .progress .progress-bar-success, .cyclesg .progress .progress-bar-success{
	background-color:#9E9FA3 !important;
}
.registration .form-body{
	min-height:542px  !important;
}
/* progress steps settings */

.login .content .check{
	color: #9E9FA3;
}
.page-lock .lock-head {
    border: 1px solid #9E9FA3;
    background-color: #f2f2f3;
}
.login-components input[type=text], .login-components input[type=password]{
	background-color: #fff !important;
	color: #9E9FA3 !important;
}
.login .content .form-actions {
  border-bottom: 1px solid #f2f2f3;
}
.feature-list{
	display: inline  !important;
	text-align:center;
	overflow:hidden;
	padding-left: 20px;
	padding-right: 20px;
}
.feature-list .feature-item{
	padding-left:5px;
	color: #9E9FA3 !important;
	display: inline-block;
	max-width: 100px;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}
.login-footer{
	text-align: center;
	left:0;
	right:0;
	bottom:0;
	position: fixed;
	z-index: 2;
	background-color: #f2f2f3 !important;
}
.login-options {
	margin-bottom : 20px !important;
}
.editable-wrap .editable-controls>input, .editable-wrap .editable-controls>select, .editable-wrap .editable-controls>textarea{
	margin-left: 10px;
	margin-right: 15px;
}

/*Positioning CheckBox & Radio Buttons*/
input[type=checkbox]{
    position: relative !important;
    vertical-align: bottom !important;
    margin:0px !important;
    top:-3px !important;
}

input[type=radio]{
    position: relative !important;
    vertical-align: bottom !important;
    margin:0px !important;
    top:-2px !important;
    margin-right: 3px !important;
}
/*Positioning CheckBox & Radio Buttons*/

/*anchor styles*/
a {
	color: #428BCA;
}

a.normal {
	color: #45A2C9;
}
.portlet-title .caption .item-status{
	font-size:10px;
	margin-bottom: 3px;
}
a:hover {
	color: #FCB322;
	text-decoration:none;
}
/*anchor styles*/

/*customize theme styles here */
.color-green {
	color: #9FC569 !important;
}
.color-red {
	color: #ED7A53 !important;
}
.login-options h4 {
    color: #9E9FA3 !important;
}
.login .content {
	width: 500px !important;
    background-color: transparent !important;
}
.login .content .create-account {
    margin: 0 -0px -0px -0px;
    padding: 2px 0 2px 0 !important;
    background-color: #9E9FA3;
}
.login .content .login-header {
	-webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    background-color: transparent !important;   
    border-bottom: 1px solid #f2f2f3; 
}
.login-components{
	-webkit-border-radius: 9px 9px 0 0;
    -moz-border-radius: 9px 9px 0 0;
    -ms-border-radius: 9px 9px 0 0;
    -o-border-radius: 9px 9px 0 0;
    border-radius: 9px 9px 0 0;
	border: 1px solid #9E9FA3;	
}
.login .content .create-account p a{
	color: #ffffff !important;
}
.login .content .create-account.login-header p a{
	color: #9E9FA3 !important;
}
.login .content.user-login{
	min-width: 1100px !important;
	width: 1100px !important;
 	padding: 0px 30px 0px 30px !important;
 	margin-bottom: 0px !important;
}
.registration .content{
	width: 100% !important;
	padding: 0px 30px 30px 30px;  
}

.login .content .form-actions{
	margin-left:0px;
	margin-right:0px;
}
.login .content .form-control {
  border: 1px solid #dde3ec;
}
body{
	top:0 !important;
}
.login{
	height:100vh !important;
	background-color:#fff !important;
}
.login .logo {
    margin: 0 auto !important;
}
.login .copyright {
    margin: 0 auto 0px 0 !important;
}
.login .copyright a, .login .copyright a:hover, .login .copyright a:visited{
    color: #a3a4a8;
}
.login .content .forget-password{
	color: #9E9FA3;
}
/*customize theme styles here */

/* layout styles */
.sidebar-image{
	overflow-x: hidden;
}
.page-header.navbar .page-logo{
	padding-left: 0px !important;
    padding-right: 0px !important;
}
.page-header.navbar .page-logo .logo-default {
	margin: 1px 1px 1px 1px !important;
}
.page-header.navbar .page-logo {
	width:255px;	
}
.page-content-wrapper .page-content {
    margin-top: -10px;
}
/* layout styles */

/*form control styles */
.auto-height{
	height:auto;
}
.inherit-height{
	height:inherit;
}
.form-control{
	height:auto;
}
/*form control styles */

.table-scrollable{
	margin-top:0px !important;
}

/* style lock screen */
body{
	top:0 !important;
	background-color:  #f2f2f3 !important;
}
.page-footer-custom  a {
    color: #f1414a;
}
.lock-bottom a {
    font-size: 12px;
}
.lock-avatar {
    margin-top: 0px;
}
.lock-body {
    margin: 20px;
}
.page-lock .page-body {
    margin-top: 120px;
}
/* style lock screen */

/*custom styles for registration form*/
.page-content-registration{
	margin-left:0px !important;
}

/*custom styles for form wizard*/
.form-wizard .steps {
    padding: 10px 0px;
    margin-bottom: 00px;
}
.form-wizard .steps > li > a.step > .number{
	font-weight: 800;
}
/*custom styles for form wizard*/
.page-content{
	overflow: visible !important;
}

/*validation messages for valdr provider*/
.valdr-message {
   display: block;
   color:#A94442; 
}
.error-message {
   color:#A94442; 
}
.success-message{
	color:#26a69a; 
}
.form-group.ng-invalid{
	margin-bottom:5px !important;
}

/*password strength*/
.strong   { color: #060; border-color: #0F0;}
.medium   { color: #C60; border-color: #FC0;}
.weak     { color: #900; border-color: #F00;}
.strength { padding: 1px 10px; border: 2px solid; color: #FFF;}

.search-box{
	width: 230px;
}

.elliptic{	
	width: 100% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;	
	-o-text-overflow:ellipsis !important;
}

/* thumbnail styles for items and users */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;    
    border-radius: 5px;
    cursor:pointer;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card.selected {
    background-color:#f2f2f2;
}
.card .header-text{
	font-size:12px;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;	
	-o-text-overflow:ellipsis !important;
	margin-top:5px !important;
	margin-bottom:5px !important;
}
.card .card-container {
    padding: 5px 10px 5px 10px;
}
.card img{
	width:100% !important;
	height: 100px !important;
	min-height: 100px !important;
	max-height: 100px !important;
}
img.grayscale {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}
/* thumbnail styles for items and users */

/* alignment and positioning styles*/
.text-right {
	text-align: right !important;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}
/* alignment and positioning styles*/

/* font-weight and font style styles*/
.text-bold {
	font-weight: bold !important;
}

.bold400 {
	font-weight: 400 !important;
}

.bold600 {
	font-weight: 600 !important;
}

.text-normal {
	font-weight: normal !important;
}

.text-underline {
	text-decoration: underline !important;
}

.text-italic {
	font-style: italic !important;
}
/* font-weight and font style styles*/

/*padding classes */
.padding5 {
	padding: 5px !important;
}

.padding0 {
	padding: 0px !important;
}

.padding10 {
	padding: 10px !important;
}

.padding15 {
	padding: 15px !important;
}

.padding20 {
	padding: 20px !important;
}

.paddingL0 {
	padding-left: 0px !important;
}
.paddingR0 {
	padding-right: 0px !important;
}
.paddingT0 {
	padding-top: 0px !important;
}
.paddingB0 {
	padding-bottom: 0px !important;
}

.paddingT10 {
	padding-top: 10px !important;
}

.paddingB10 {
	padding-bottom: 10px !important;
}

.paddingL10 {
	padding-left: 10px !important;
}

.paddingR10 {
	padding-right: 10px !important;
}

.paddingT5 {
	padding-top: 5px !important;
}

.paddingB5 {
	padding-bottom: 5px !important;
}

.paddingL5 {
	padding-left: 5px !important;
}

.paddingR5 {
	padding-right: 5px !important;
}

.paddingT15 {
	padding-top: 15px !important;
}

.paddingB15 {
	padding-bottom: 15px !important;
}

.paddingL15 {
	padding-left: 15px !important;
}

.paddingR15 {
	padding-right: 15px !important;
}

.paddingL20 {
	padding-left: 20px !important;
}

.paddingR20 {
	padding-right: 20px !important;
}
.paddingT20 {
	padding-top: 20px !important;
}

.paddingB20 {
	padding-bottom: 20px !important;
}
/*end padding classes */

/*start margin classes */
.margin5 {
	margin: 5px !important;
}

.margin10 {
	margin: 10px !important;
}

.margin15 {
	margin: 15px !important;
}

.margin20 {
	margin: 20px !important;
}

.margin0 {
	margin: 0px !important;
}

.marginT0 {
	margin-top: 0px !important;
}

.marginB0 {
	margin-bottom: 0px !important;
}

.marginR0 {
	margin-right: 0px !important;
}
.marginL0 {
	margin-left: 0px !important;
}

.marginT10 {
	margin-top: 10px !important;
}

.marginB10 {
	margin-bottom: 10px !important;
}

.marginL10 {
	margin-left: 10px !important;
}

.marginR10 {
	margin-right: 10px !important;
}

.marginT5 {
	margin-top: 5px !important;
}

.marginB5 {
	margin-bottom: 5px !important;
}

.marginL5 {
	margin-left: 5px !important;
}

.marginR5 {
	margin-right: 5px !important;
}

.marginT15 {
	margin-top: 15px !important;
}

.marginB15 {
	margin-bottom: 15px !important;
}

.marginL15 {
	margin-left: 15px !important;
}

.marginR15 {
	margin-right: 15px !important;
}

.marginL20 {
	margin-left: 20px !important;
}

.marginR20 {
	margin-right: 20px !important;
}
.marginT20 {
	margin-top: 20px !important;
}
.marginB20 {
	margin-bottom: 20px !important;
}
/*end margin classes*/

.portlet-footer{
	padding: 0 10px 0 10px;
    min-height: 48px !important;
	border-top: 1px solid #fbd0d2;
	border-bottom:none;
	margin-top: 20px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

/*full screen settings for the footer*/
.page-portlet-fullscreen .portlet-footer{
	bottom: 0px !important;
    left: 0px !important;
    right: 0px !important;
}

.actions .btn-circle.btn-icon-only{
	height:27px;
	width:27px;
	padding-top:4px;
}

/*switch buttons*/
.switch {
  /* frame */
}
.switch small {
  /* button */
  left:0px;
}
.switch.checked {
  /* frame when enabled */
  text-align: right;
}
.switch.checked small {
  /* button when enabled */
  right: 25px;
  left:  59px !important ;
}
.switch {
	min-width: 90px;
}
.switch .checker{
	visibility: hidden;
}
.dock-bottom{
	bottom:5px;
	position: relative;
}
.cursor{
  cursor: pointer;
}



/*angular njcrop extra styles to improve positioning and appearance*/
.ng-jcrop-image-wrapper { display: inline-block !important; float:left; }
.ng-jcrop-thumbnail-wrapper { display: inline-block !important;}
/*angular njcrop extra styles to improve positioning and appearance*/

.sidebar-custom{
	margin-top: -25px !important;
    margin-left: -20px  !important;
    height: 100vh !important;
    min-height: 100vh !important;
    background-color: #f2f2f2 !important;
    border: 1px solid #ccc;
}

/*Footer Styles*/
.page-footer {
    padding: 10px 20px 10px 20px;
    background-color: #f2f2f2 !important;
    border: 1px solid #ccc;
}

}
.page-header-inner {
	background-color: #f2f2f2 !important;
	border: 1px solid #ccc;
}

/*extra for portlet title */
.portlet-title {
    margin-right: -20px !important;
    margin-left: -20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0px;
}
/*extra for portlet title */

/*Vertical Progress Bar & Steps*/
ul.vertical-progress-bar {
	height: 300px;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

ul.vertical-progress-bar::after {
	content: "";
	position: absolute;
	top: 0;
	left: 5px;
	background: #f2f2f3 ;
	width: 5px;
	height: 100vh;
}

ul.vertical-progress-bar li {
	background: #9E9FA3;
	border-radius: 100px;
	width: 15px;
	height: 15px;
	z-index: 1;
	position: relative;
}

ul.vertical-progress-bar li>a{
	color: #9E9FA3;
}

ul.vertical-progress-bar li.active ~ li {
	background: #f2f2f3 ;
}
ul.vertical-progress-bar li.active ~ li>a {
	color: #f2f2f3 ;
}

ul.vertical-progress-bar li.active ~ li::after {
	height: 0;
}

ul.vertical-progress-bar li::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 5px;
	background: #9E9FA3;
	width: 5px;
	height: 100vh;
}
ul.vertical-progress-bar li::after>a{
	color: #9E9FA3;
}
ul.vertical-progress-bar>li>a{
  margin-left:20px ;
}
/*Vertical Progress Bar & Steps*/

.vertical-wizard .steps .step-item{
	list-style-type:none;
	margin-bottom:8px;
}
.bg-white{
	background: white !important;
	background-color: white !important;	
}
.bg-transparent{
	background: transparent !important;
	background-color: transparent !important;	
}
.fg-white{
	color: white !important;	
}
.bg-grey-light{
	background: #f2f2f2 !important;
	background-color: #f2f2f2 !important;	
}
.border-light{
	border: 1px solid #ddd
}
.table.table-striped td{
	padding-top: 5px !important;
}
input.jcrop-keymgr{
	display: none !important;
}
/*Widths*/
.angucomplete-dropdown{
	width: 300px !important;
	min-width: 300px !important;
}

/*widths*/
.width50{
	width:50px;	
}
.width100Percent{
	width:100% !important;	
}
.width100{
	width:100px;	
}
.width110{
	width:110px;	
}
.width120{
	width:120px;	
}
.width150{
	width:150px;	
}
.width200{
	width:200px;	
}
.width250{
	width:250px;	
}
.width300{
	width:300px;	
}

.width-must50{
	width:50px !important;	
}
.width-must100{
	width:100px !important;	
}
.width-must110{
	width:110px !important;	
}
.width-must120{
	width:120px !important;	
}
.width-must150{
	width:150px !important;	
}
.width-must200{
	width:200px !important;	
}
.width-must250{
	width:250px !important;	
}
.width-must300{
	width:300px !important;	
}
/*widths*/

/*common styles for our icons*/
.page-sidebar .page-sidebar-menu > li > a >i[class*="icon-"],
.page-sidebar .page-sidebar-menu > li > a >i[class*="glyphicon-"],
.page-sidebar .page-sidebar-menu > li > a >i[class*="fa-"] {
	margin-right: 0px !important;	
	margin-left: 0px !important;	
}
/*common styles for our icons*/

/*Modal styling options*/
*{
	box-sizing: border-box;
}
.modal-backdrop{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.3);
	z-index:1;
	opacity:0.3;	
}
.modal-holder{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background:transparent;
	z-index:2;
	padding: 30px 15px;	
}
.modal-box{
	margin:20px auto;
	width: 100%;
	background: #fff;
	padding: 15px;
	border-radius:4px;
	border-shadow: 1px 2px 5px rgba(0,0,0,0.3);
	position:relative;	
}
@media screen and (min-width:992px){
	.modal-box{
		width: 80%;
		padding:0px 10px 0px 10px;
	}
}
/*Modal styling options*/

.btn-group .btn-outline{
	opacity:0.9;
}
.btn-group .btn-outline:hover,.btn-group .btn-outline:active{
	opacity:1;
}
.portlet{
	min-height: 1080px;
	margin-bottom:15px;	
}
.portlet.light{
	padding-bottom: 20px;	
}

.tabbable-line > .nav-tabs > li.borderless {
    border-bottom: none;
}

.borderless {
    border: none;
}

.editable-empty,a.editable-empty{
	font-style:normal !important;
}

/* Graph styles */
.dashboard-stat2{
	padding: 10px !important;
}
.dashboard-stat2 .display{
	margin-bottom: 0px !important;
}

/* Format Bar|Line|Dougnaut Legends */
.bar-legend, .doughnut-legend,.line-legend{
    position:relative;
    bottom:0px;
    right:0px;
    padding-left: 0;
}
.bar-legend li,.doughnut-legend li,.line-legend li{
	list-style:none;
	display:inline-table;
	margin-right:5px;
	font-size: 11px;
	margin-bottom: 5px;
}
.bar-legend li span, .doughnut-legend li span, .line-legend li span{
	padding-right:15px !important;
	margin-right:5px !important;
}
.chart-legend li span {
	display: inline-block;
	width: 12px;
	height: 8px;
	margin-right: 5px;
	margin-top: 5px;
}
/* Format Bar|Line|Dougnaut Legends */

.dashboard-stat2 .display .number{
	float: none;
}

.portlet > .portlet-title > .caption > .caption-helper {    
    display: block;
    padding-left: 20px;
}

/*theme colors and styles*/
.custom-diagonal-bg-blend{
   background: -webkit-linear-gradient(#338039,#f1414a) !important; /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#338039,#f1414a) !important; /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#338039,#f1414a) !important; /* For Firefox 3.6 to 15 */
   background: linear-gradient(#338039,#338039) !important; /* Standard syntax (must be last) */
}
.custom-dotted-bg-green{
	background: #f2f2f2;          
	background-size:.25em .25em;
}
.custom-dotted-bg-orange{
	background-image: -webkit-linear-gradient(-90deg,    transparent 0%,    transparent 50%, white 50%, white 100%),
                  -webkit-linear-gradient(  0deg, #9E9FA3, #9E9FA3 50%, white 50%, white 100%);
	background-size:.25em .25em;
}
.custom-solid-bg-green{
	background: #9E9FA3 !important;
	color: #ffffff !important;
}
.custom-solid-bg-orange{
	background: #9E9FA3 !important;
	color: #ffffff !important;
}
.custom-solid-bg-white{
	color: #9E9FA3 !important;
	background-color: #ffffff !important;
	background: #ffffff !important;
}
.custom-border-orange{
	border: 1px solid #9E9FA3 !important
}
.custom-border-orange-top{
	border-top: 1px solid #9E9FA3 !important
}
.custom-border-orange-bottom{
	border-bottom: 1px solid #9E9FA3 !important
}
.custom-border-green{
	border: 1px solid #9E9FA3 !important
}
.custom-border-green-top{
	border-top: 1px solid #9E9FA3 !important
}
.custom-border-green-bottom{
	border-bottom: 1px solid #9E9FA3 !important
}
.custom-color-green{
	color: #9E9FA3 !important
}
.custom-color-orange{
	color: #9E9FA3 !important
}
/*theme colors and styles*/

/*modal styles here*/
.modal .modal-header {
	padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #9E9FA3;
    background: #9E9FA3 !important;
    color: #ffffff;
}
.modal .modal-header .close{
	margin-top: 8px !important;
}
.modal .modal-footer {
    border-top: 1px solid #9E9FA3;
}
.modal .modal-content .bootbox-body{
	color: #9E9FA3;
}
.modal .modal-content{
	margin-top: 200px;
	border: 1px solid #9E9FA3;	
}
/*modal styles here*/


/* drop down styles */
.dropdown-menu
{
	background: #fff !important;
	border: 1px solid #9E9FA3 !important;
}
.dropdown-menu li>a,
.dropdown-menu li>a>i,
.dropdown-menu.dropdown-menu-default > li,
.dropdown-menu.dropdown-menu-default > li a,
.dropdown-menu.dropdown-menu-default > li a > i
{
	color: #9E9FA3 !important;
}
.dropdown-menu.dropdown-menu-default > li.divider,
.dropdown-menu li>a:hover,
.dropdown-menu li>a:hover>i,
.dropdown-menu.dropdown-menu-default > li:hover,
.dropdown-menu.dropdown-menu-default > li a:hover,
.dropdown-menu.dropdown-menu-default > li a:hover>i
{
	background: #9E9FA3 !important;
	color: #fff !important;
}
.dropdown-menu > li.external{
	background: #9E9FA3 !important;
	color: #fff !important;
}
.dropdown-menu > li.external>h3{	
	color: #fff !important;
}
.dropdown-menu > li.external>a{
	color: #000 !important;
}
 .dropdown-menu .dropdown-menu-list > li > a
{
	background: none !important;
	color: #9E9FA3 !important;
	border-bottom: 1px solid #9E9FA3 !important;
	height: 100px !important;
	overflow-y: hidden !important;
}
.dropdown-menu .dropdown-menu-list > li > a:hover
{
	background: none !important;
	color: #9E9FA3 !important;
}
 .dropdown-menu .dropdown-menu-list > li > a .time
{
	background: #9E9FA3 !important;
	color: #fff !important;
}
 .dropdown-menu .dropdown-menu-list > li > a:hover .time
{
	background: #9E9FA3 !important;
}

.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td, 
.table-bordered>thead>tr>td
{
	border: 1px solid #cacbce ;
}
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>th
{
	border: 1px solid #cacbce ;
	color: #9E9FA3;
}
.table-bordered>tbody>tr:hover, 
.table-bordered>tfoot>tr:hover, 
.table-bordered>thead>tr:hover
{
	background-color: transparent;	
}
.table-scrollable{
	border: 1px solid #cacbce ;
}
.table-striped>tbody>tr:nth-of-type(odd)
{
	background-color: #f2f2f3;	
}
/* drop down styles */

/*sidebar styles*/
.nav.navbar-nav>li:hover,.nav.navbar-nav>li>a:hover,.nav.navbar-nav>li.open,.nav.navbar-nav>li.open>a{
	background: none !important;
}
/*side bar parent default link styles*/
.page-sidebar .page-sidebar-menu>li>a ,
.page-sidebar .page-sidebar-menu>li>a>i
{
    color: #9E9FA3 !important;
}
/*side bar parent default link styles*/

/*side bar parent activated link styles*/
.page-sidebar .page-sidebar-menu>li.open>a,
.page-sidebar .page-sidebar-menu>li.open>a>i
{
    color: #f1414a !important;
    background: #ffffff !important;    
}
.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar .page-sidebar-menu>li.active>a>i
{
	color: #ffffff !important;
    background: #f1414a !important;
}

.page-sidebar .page-sidebar-menu>li>a:hover ,
.page-sidebar .page-sidebar-menu>li>a:hover>i ,
.page-sidebar .page-sidebar-menu>li>a:hover>span{
	color: #f1414a !important;
    background: #ffffff !important;
}
/*side bar parent activated link styles*/

/*Deactivate a lit bit on parent of opened child's parent*/
.page-sidebar .page-sidebar-menu>li.active.open>a,
.page-sidebar .page-sidebar-menu>li.active.open>a>i,
.page-sidebar .page-sidebar-menu>li.active.open>a>span{
	background: #ffffff !important;
	color: #f1414a !important;	
}
.page-sidebar .page-sidebar-menu>li.active.open>a{
	color: #f1414a;
}
/*Deactivate a lit bit on parent of opened child's parent*/


/*Default styles for level 1 child */
.page-sidebar .page-sidebar-menu>li .sub-menu li>a ,
.page-sidebar .page-sidebar-menu>li .sub-menu li>a>i ,
.page-sidebar .page-sidebar-menu>li .sub-menu li>a>span
{
 	color: #9E9FA3 !important;   
}

/*Activate on hover active and such styles for level 1 child */
.page-sidebar .page-sidebar-menu>li.active .sub-menu li.active a, 
.page-sidebar .page-sidebar-menu>li.active .sub-menu li.active a:hover,
.page-sidebar .page-sidebar-menu>li.active .sub-menu li.active a:focus
.page-sidebar .page-sidebar-menu>li.active .sub-menu li.active a:hover>i,
.page-sidebar .page-sidebar-menu>li.active .sub-menu li.active a>i,
.page-sidebar .page-sidebar-menu>li.active .sub-menu li.active a>span.title   
{
    background: #9E9FA3 !important;
    color: #ffffff !important;
}
/*sidebar styles*/

/*Header Styles*/
.page-header.navbar .top-menu .navbar-nav > li:hover{
	background-color: #ffffff;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i ,
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > .username{
    color: #000;
}
.portlet > .portlet-title {
    border-bottom: 1px solid #9E9FA3;
}
.portlet.light > .portlet-title > .caption > .caption-subject {
    color: #f1414a !important;
}
.portlet > .portlet-title > .caption > .caption-helper {
    color: #9E9FA3;
}
/*Header Styles*/

/* General Styles */
.form-control{
	border: solid 1px #e5e5e6  !important;
}
.form-control:focus{
	border: solid 1px #9E9FA3 !important;
}
/*Input Placeholder Manipulations*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9E9FA3 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9E9FA3 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9E9FA3 !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9E9FA3 !important;
}
/*Input Placeholder Manipulations*/
.btn-default{
	color: #f1414a !important;
    background-color: #fff !important;
	border: solid 2px #f1414a !important;
	padding-top:6px;
}
.btn-group .btn-default{
	border-width:1px !important;
}
.btn-default > i{
	color: #f1414a !important;
}
.portlet > .portlet-title > .actions .btn-icon-only.btn-default {
    padding: 3px 6px 2px 5px;
}
.inbox .inbox-nav li.active a, .inbox .inbox-nav li.active:hover a{
	background: #f1414a !important;
}
.inbox-compose{
	border: solid 1px #f2f2f3 !important;
}
.inbox-compose .inbox-form-group{
	border-bottom: solid 1px #f2f2f3 !important;	
	border-top: none !important;	
	border-left: none !important;
	border-right: none !important;
	margin-bottom: 2px !important;
}
.inbox-compose .inbox-form-group > label{
	color: #9E9FA3 !important;
}
.inbox-compose .mail-to .inbox-cc-bcc{
	color: red !important;
}
.inbox .inbox-nav li a{
	color: #9E9FA3;
	background: #f2f2f3;
}
.inbox .inbox-nav li.compose-btn:hover {
	color: #ffffff !important;
}
.inbox .table-hover tbody tr:hover > td, 
.inbox .table-hover tbody tr:hover > th, 
.inbox .table-striped tbody > tr:nth-child(odd) > td,
.inbox .table-striped tbody > tr:nth-child(odd) > th {
	background: #f2f2f3;
}
.inbox .table-hover tbody tr> td, 
.inbox .table-hover tbody tr> th
{
	border-bottom: 1px solid #f2f2f3 !important
}
.wysiwyg-textarea{
	margin-top: 5px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	width: calc(100%-20px) !important;
	border: solid 1px #f2f2f3 !important;
	padding: 10px !important;
	box-shadow: none !important;
	outline: none !important;
}
.wysiwyg-textarea:focus{
	border: solid 1px #f2f2f3 !important;
	box-shadow: none !important;
	outline: none !important;
}
.wysiwyg-select{
	color: #9E9FA3 !important;
}
.wysiwyg-menu{
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: #fff !important;
}
/* General Styles */

/*Pagination Styles*/
.pagination>li>a, .pagination>li>span, .pagination>.disabled>a{    
    color: #9E9FA3;
    border: 1px solid #9E9FA3;
}
.pagination>li>a:hover,.pagination .active > a, .pagination .active > a:hover{
	border: 1px solid #f1414a !important;
	color: #ffffff !important;
	background: #f1414a !important;
}
.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{
	color: #9E9FA3;
    border: 1px solid #9E9FA3;
	background: #ffffff !important;
}
.pagination>li>a:focus{
	border: 1px solid #9E9FA3 !important;
	color: #ffffff !important;
	background: #9E9FA3 !important;
}
/*Pagination Styles*/

/*portlet and styles*/
.portlet > .portlet-title {
	min-height:35px !important;
	margin-bottom: 0px;
}
.portlet > .portlet-title .caption {
	padding: 0px 0 !important;
	color: #666 !important;
}
.portlet > .portlet-title .actions,.portlet > .portlet-title .tools {
	padding: 0px 0 14px 0 !important;
}
.portlet > .portlet-title > .caption > i {
	color:#f1414a !important;
}

/*content*/
.portlet,.dashboard-stat2{
	border: 1px solid #e1e1e1 !important;
}
.input-icon>i{
	color: #9E9FA3 !important;
}
/*content*/

/*footer*/
.page-footer a{
	color: white !important;
}

.portlet .portlet-footer{ 
    border: 1px solid #e1e1e1 !important;
    border-top: 1px solid #e1e1e1 !important;  
    border-left: 1px solid #e1e1e1 !important;
    border-right: 1px solid #e1e1e1 !important;  
}
/*footer*/

.font-green-haze{
	color: #9E9FA3 !important;
}
.font-green-sharp{
	color: #9E9FA3 !important;
}
.btn-group.custom-btn-group .btn{
	color: #9E9FA3;
    background-color: #c8e9cb;
}
.btn-group.custom-btn-group .btn.grey-salsa{
	color: #fff !important;
    background-color: #9E9FA3 !important;
}
.btn-success{
	color: #fff;
    background-color: #26C281;
}
.btn-success:hover{
	color: #fff;
    background-color: #9E9FA3;
}
/*portlet and styles*/


/*sidebar menu styles */
.thumbmenu {
    background:#fff !important;
    padding:20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    margin-bottom:20px;
}
.thumbmenu .menu-item{
	padding:3px 10px 3px 10px !important;
	cursor:pointer !important;
	border: none !important;
	background:transparent !important;
	margin: 2px 10px 0px 5px !important;
	box-shadow: unset !important;
	display: block !important;
}
.thumbmenu .menu-item:first-child{
	margin-top:5px !important;
}
.thumbmenu .menu-item:last-child{
	margin-bottom:5px !important;
}
.thumbmenu .menu-item:hover,.thumbmenu .menu-item.open{
	border: 1px solid #f1414a !important;
}
.thumbmenu .menu-item .menu-content{
 	display: unset !important;
 	border-left: unset !important;
 	padding: 1px 15px !important;
}	

/*mozilla hacks only*/
@-moz-document url-prefix() { 
  .thumbmenu .menu-item.active .menu-content .menu-info{
     margin-top: 15px;
  }
}
/*mozilla hacks only*/

/*Safari only hacks*/
_::-webkit-full-page-media, _:future, :root .thumbmenu .menu-item.active .menu-content .menu-info{
	margin-top: 15px;
}
/*Safari only hacks*/

/*IE only hacks*/
@supports (-ms-ime-align:auto) {
	.thumbmenu .menu-item .menu-icon{
		float: unset !important;
	}
	.thumbmenu .menu-item .menu-info{
		margin-top:-35px !important;
	}
	.thumbmenu .menu-item{
		padding:15px 10px 15px 10px !important;
	}
	.thumbmenu .menu-item.active{		
		margin-left: 20px !important;
		padding:20px 10px 20px 10px !important;
	}
}
/*IE only hacks*/

.thumbmenu .menu-item.open{
	border: 1px solid #f1414a !important;
}
.thumbmenu .menu-item:hover .menu-content, 
.thumbmenu .menu-item:hover .menu-icon,
.thumbmenu .menu-item.open .menu-content,
.thumbmenu .menu-item.active .menu-content,
.thumbmenu .menu-item.open .menu-content:hover,
.thumbmenu .menu-item.active .menu-content:hover,
.thumbmenu .menu-item.open,
.thumbmenu .menu-item.active,
.thumbmenu .menu-item.open:hover,
.thumbmenu .menu-item.active:hover{
	color: #f1414a !important;
	background:transparent !important;
}
.thumbmenu .menu-item.active .menu-content{
	border-left: unset !important;
	margin-left: unset !important;
	padding-left: unset !important;	
	color: #f1414a !important;
	background:transparent !important;
}
.thumbmenu .menu-item .menu-content .arrow:before,.thumbmenu .menu-item .menu-content .arrow:after{
	margin-top: -20px !important;
	color: #f1414a !important;
}
.thumbmenu .menu-item .menu-info{
	font-size:12px;
    padding-top:2px;
    margin-left: 80px;
	font-weight:600 !important;
	display:block !important;
}
.thumbmenu .menu-item .menu-icon{	
	width:56px;
    height:56px;
    line-height:56px;
    text-align:center;
    font-size:30px;
    background:#eee;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    float:left;
    color: #ffffff !important;
	display:block !important;
}
.hp-bg-violet{background-color:#A48AD4 !important;}
.hp-bg-pink{background-color:#F879EE !important;}
.hp-bg-orange{background-color:#FA8564 !important;}
.hp-bg-red{background-color:#EC6459 !important;}
.hp-bg-green{background-color:#AEC785 !important;}
.hp-bg-blue{background-color:#A48AD4 !important;}
.hp-bg-info{background-color:#57C8F1 !important;}
.hp-bg-primary{background-color:#1FB5AD !important;}
/*sidebar menu styles */