<html lang="UTF-8" ng-app="BugTracker"/>
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Timesheet</title>
	<link href="theme/css/bootstrap.min.css" rel="stylesheet">
	<link href="theme/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="theme/css/components-rounded.css" rel="stylesheet">
    <link href="theme/css/layout.css" rel="stylesheet">
    <link href="theme/css/light.css" rel="stylesheet">
    <link href="theme/css/login.css" rel="stylesheet">
    <link href="theme/css/custom.css" rel="stylesheet">
    <link href="theme/css/chartist.min.css" rel="stylesheet">
    <link href="theme/css/fullcalendar.css" rel="stylesheet">
    <link href="resources/angular-toaster/toaster.min.css" rel="stylesheet">
    <link href="resources/fancy-modal/angular-fancy-modal.min.css" rel="stylesheet">
</head>
<body>
	<!-- BEGIN PAGE SPINNER -->
	<div ng-spinner-bar class="page-spinner-bar">
		<div class="bounce1"></div>
		<div class="bounce2"></div>
		<div class="bounce3"></div>
	</div>
    <!-- END PAGE SPINNER -->
    











<div class="page-sidebar-fixed page-container-bg-solid page-header-fixed page-footer-fixed">
<!-- BEGIN HEADER -->
<div class="page-header navbar navbar-fixed-top custom-dotted-bg-white custom-border-orange-bottom">
<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!--logo begin-->
	<div class="page-logo">
		<a  href="#">
			<img  height="73" src="theme/img/stl-logo.png" alt="logo" class="logo-default marginT5"/>
		</a>
		<div class="menu-toggler sidebar-toggler">
			<!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->			
		</div>
	</div>

    <!--logo end-->
    <!-- END LOGO -->
	<!-- BEGIN RESPONSIVE MENU TOGGLER -->
	<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
	</a>
	<!-- END RESPONSIVE MENU TOGGLER -->
	<!-- BEGIN PAGE ACTIONS -->
	<!-- DOC: Remove "hide" class to enable the page header actions -->
	<div class="page-actions">
	<!-- action buttons -->
	</div>
	<!-- END PAGE ACTIONS -->
	<!-- BEGIN PAGE TOP -->
	<div class="page-top">		
		<!-- BEGIN TOP NAVIGATION MENU -->
		<div class="top-menu">
			<ul class="nav navbar-nav pull-right">
				<li class="separator hide"></li>	
                <li>
                    <div id="google_translate_element"></div>
                </li>
				<li class="separator hide"></li>
				<!-- Start NOTIFICATION DROPDOWN -->
				<li class="hidden-sm dropdown dropdown-extended dropdown-notifications dropdown-dark" id="notifications">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-bell-o"></i>
					<span class="badge badge-info">0</span>
					</a>
					<ul class="dropdown-menu" style="height: 260px;">
					<li class="external">
						<h3>You have <span class="bold">0</span> Notifications</h3>
						<a href="">
							<span class="">More</span>
						</a>
					</li>
					</ul>
				</li>
				<!-- END NOTIFICATION DROPDOWN -->
				<li class="separator hide"></li>
				<!-- BEGIN INBOX DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="hidden-sm dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<i class="fa fa-envelope-o"></i>
					<span class="badge badge-danger">0</span>
					</a>
					<ul class="dropdown-menu" style="height: 260px;">
						<li class="external">
							<h3>You have <span class="bold">0</span> Messages</h3>
							<a href="">
								<span class="">More</span>
							</a>
						</li>
					</ul>
				</li>
				<!-- END INBOX DROPDOWN -->
				
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
				<li class="dropdown dropdown-user dropdown-dark" ng-controller="UserController">
					<a href="" class="dropdown-toggle text-right" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<span class="username username-hide-on-mobile">
						{{current_user.realname}}					
						<br/>
						<span class="username-hide-on-mobile font12 text-normal"> {{departments.object[current_user.department].department_name}} </span>
						<span class="hidden-sm username-hide-on-mobile font12 text-normal"> </span>
						</span>
						<!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
						<img alt="User" class="img-circle" src="{{current_user.icon + access_token}}"/>						
					</a>
					<ul class="dropdown-menu dropdown-menu-default">
    					<li>
    						<a class="" href="">
    							<i class=" fa fa-suitcase"></i>Profile
    						</a>
    					</li>
                        <li>
                        	<a ng-click="logout()"><i class="fa fa-key"></i> Log Out</a>
                        </li>
                     </ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
		</div>
		<!-- END TOP NAVIGATION MENU -->
	</div>
	<!-- END PAGE TOP -->
</div>
<!-- END HEADER INNER -->
</div>
<!-- END HEADER -->

<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container custom-dotted-bg-green">
    <!-- BEGIN SIDEBAR -->	
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse sidebar-custom custom-border-orange custom-solid-bg-white">
        	<div class="padding10 custom-solid-bg-white custom-border-green-bottom sidebar-image">
        	<h4><img src="theme/img/stl-logo.png" title="STL Horizon" height="45" />
        	STL Horizon</h4>
        	</div>
        	<!-- END SIDEBAR MENU -->
        	<div class="nicescroll"id="nicescroll" style="overflow:hidden">
            	<ul class="page-sidebar-menu page-sidebar-menu-closed marginT0 thumbmenu">
            		<li class="menu-item">
                        <a class="menu-content" href="#/dashboard">
                            <i class="menu-icon hp-bg-red fa fa-dashboard"></i>
                            <span class="title menu-info">Dashboard</span>
                        </a>
                    </li>	
                    <li class="menu-item">
                        <a class="menu-content" href="#/home">
                            <i class="menu-icon hp-bg-info fa fa-tasks"></i>
                            <span class="title menu-info">My Tasks</span>
                        </a>
                    </li>	
                    <li class="menu-item">
                        <a class="menu-content" href="#/history">
                            <i class="menu-icon hp-bg-pink fa fa-refresh"></i>
                            <span class="title menu-info">Task History</span>
                        </a>
                    </li>	
                    <li class="menu-item">
                        <a class="menu-content" href="http://helpdesk.stl-horizon.com/mtar/" target="_blank">
                            <i class="menu-icon hp-bg-violet fa fa-bug"></i>
                            <span class="title menu-info">Mtar</span>
                        </a>
                    </li>		
                    <li class="menu-item" ng-if="(current_user.access_level==90)">
                        <a class="menu-content" href="#/administration">
                            <i class="menu-icon hp-bg-green fa fa-gears"></i>
                            <span class="title menu-info">Administration</span>
                        </a>
                    </li>				
            	</ul>
        	</div> 
	       <!-- END SIDEBAR MENU -->
		</div>	
	</div>
	<!-- END SIDEBAR -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEAD -->
			<div class="page-head"></div>
			<!-- END PAGE HEAD -->
			<!-- BEGIN ACTUAL CONTENT -->
			<div class="portlet light" id="portlet" ng-controller="TimesheetController">				
				<div class="portlet-title">
                    <div class="caption">
						<i class="fa fa-home font-green-sharp"></i> 
						<span class="caption-subject font-green-sharp bold uppercase ng-binding">
							Timesheet
						</span> 
						<span class="caption-helper ng-binding">
						Task Timer
						</span>
        			</div>
        			<div ng-controller="AddTaskController">
        				<button ng-click="switchImportMode()" title="Click to switch to import mode" 
        					class="add-button btn  btn-success btn-sm pull-right">
							<i class="fa fa-upload"></i> Import Task
						</button>	
				    	<button class="btn btn-success btn-sm pull-right" style="margin-right: 15px" ng-click="showForm()">
				    		<i class="fa fa-plus"></i> Create Task
				    	</button>
	                </div>                           
                </div>
                	
                <!-- Echo Data Import Template -->
				<div  ng-if="import_mode" class="portlet-body paddingT20" ng-include="'task-import.html'">
					
				</div>	
				<!-- Echo Data Import Template -->
				
				<div class="portlet-body"  ng-if="!import_mode">
					<div class="row">
						<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div style="margin:5px;">
									<input type="text" class="form-control" ng-model="filter.global" placeholder="Search for tasks here ..."/>
        						</div>
        							<table class="table table-light table-responsive">
        								<thead>
        									<tr>
        										<th>T/No.</th>
        										<th>Tasks</th>
        										<th class="text-center">Activity Type</th>
        										<th class="text-center">Activities</th>
        										<th class="text-center">Status</th>
        										<th class="text-center">Assign</th>
        										<th>Timer</th>
        									</tr>
        								</thead>
        								<tbody>									
        									<tr ng-repeat="t in tasks | filter:filter.global | orderBy:['-id','-bug_id']"
        										ng-init="((t.id && !clock && !clock.opened)? startTimer(t) : '');">
        										<td>
        											<a href="http://helpdesk.stl-horizon.com/mtar/view.php?id={{t.bug_id}}" target="_blank"><u>000{{t.bug_id}}</u></a>     										
        										</td>
        										<td>
        											<span class="{{(clock && clock.opened && clock.data.bug_id==t.bug_id)? 'text-danger' : 'text-success'}} fa fa-circle"></span>   
        											<span style="cursor: pointer;" ng-click="(clock && clock.opened && clock.data.bug_id==t.bug_id)? getTaskTimeDetails(t) : getTaskTimeDetails(t,true)">
        											{{t.summary}}
        											</span>							
        										</td>
        										<td class="text-center">
            										<select ng-if="(!clock || !clock.opened || clock.data.bug_id!=t.bug_id)" class="form-control input-sm"  ng-model="t.activity_type" style="min-width:150px;max-width:150px"
            											 ng-options="item.id as item.name for item in activity_types.array">
            											           										
            										</select>
            										<div  ng-if="(clock && clock.opened && clock.data.bug_id==t.bug_id)">{{activity_types.object[t.activity_type].name}}</div>
        										</td>
        										<td class="text-center">
        											<select ng-if="(!clock ||  !clock.opened || clock.data.bug_id!=t.bug_id)"  class="form-control input-sm"  ng-model="t.bug_activity_id"  style="min-width:150px;max-width:150px"
        												ng-options="item.id as item.name for item in activities.array | filter: {type:t.activity_type || undefined}:true">
            											          										
            										</select>
            										<div ng-if="(clock && clock.opened && clock.data.bug_id==t.bug_id)">{{activities.object[t.bug_activity_id].name}}</div>
        										</td>
        										<td>
        											<select ng-if="(!clock ||  !clock.opened || clock.data.bug_id!=t.bug_id)" class="form-control input-sm"  ng-change="changeTaskStatus(t)" ng-model="t.status"  style="min-width:150px;max-width:150px"
        												ng-options="item.status as item.name for item in status.array">
            											          										
            										</select>
            										<div ng-if="(clock && clock.opened && clock.data.bug_id==t.bug_id)">{{status.object[t.status].name}}</div>
        										</td>
        										<td>
        											<select ng-if="(!clock ||  !clock.opened || clock.data.bug_id!=t.bug_id)" class="form-control input-sm"  ng-change="assignUserTask(t)" ng-model="t.handler_id"  style="min-width:150px;max-width:150px"
        												ng-options="item.id as item.realname for item in project_users.array | filter: {project_id:t.project_id || undefined}:true">
            											          										
            										</select>
            										<div ng-if="(clock && clock.opened && clock.data.bug_id==t.bug_id)">{{project_users.object[t.handler_id].realname}}</div>
        										</td>
        										<td>
        											<div style="margin-top:10px">
	        											<a ng-click="(clock && clock.opened && clock.data.bug_id==t.bug_id)? endTimer(t) : endTimer(t,true);">
	        												<i class="fa fa-clock-o {{ (clock && clock.opened && clock.data.bug_id==t.bug_id)? 'text-danger' : 'text-success'}}" style="font-size:30px">
	        												</i>
	        											</a>
        											</div>
        										</td>
        									</tr>
        								</tbody>
        							</table>	
						</div>
						<div class="">
							<div draggable="true" class="panel panel-default fixed" ng-if="clock">
								<div class="panel-body">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">
										<h4>{{clock.data.summary}}</h4>
										<p>Project: <span class="text-underline">{{clock.data.project_name}}</span></p>									
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12">
										<span><b>Start Time:</b>{{clock.data.starttime*1000 | date:'hh:mm:ss'}}<br/></span>
										<span><b>Time Taken:</b></span>
										<span>{{clock.data.timetaken}}<br/></span>
										<span><b>Est. Time:</b></span>
										<span>{{clock.data.estimatedtime}}</span>
										<br/><br/>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12">
										<span><b>Current Time:</b>{{clock.data.endtime*1000 | date:'hh:mm:ss'}}<br/></span>
										<span><b>Total Time: </b></span>
										<span>{{timeFormat( ( toNumber(clock.data.total_time) + toNumber(clock.data.lapse) ) * 1000) }}<br></span>
										<span ng-if="((timeFormat( ( toNumber(clock.data.total_time) + toNumber(clock.data.lapse) ) * 1000)) < clock.data.estimatedtime)"><b>Due Date:</b></span>
										<span> {{clock.data.due_date}} </span>
										<span ng-click="playSound('bing');" class="btn btn-warning btn-xs glow" ng-if="((timeFormat( ( toNumber(clock.data.total_time) + toNumber(clock.data.lapse) ) * 1000)) > clock.data.estimatedtime)">Past Estimated Time</span>
									</div>									
								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12 col-sm-12">									
										<p><b>Task Details</b></p>
										<p>{{clock.data.description}}</p>
									</div>
								</div>								
							</div>
						</div>			
					</div>
				</div>
				<div class="portlet-footer"></div>
				<div id="sound"></div>			
			</div>
			<!-- END ACTUAL CONTENT -->
		</div>
	</div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer custom-solid-bg-green">
<div class="page-footer-inner">
	<a target="_blank" class="copyright marginT20" href="http://www.stl-horizon.com"><?= date("Y"); ?> &copy Software Technologies Ltd.</a>
</div>
</div>
</div>


















			
	</div>
	<toaster-container toaster-options="{'limit':1,'position-class':'toaster-position'}"></toaster-container>
	
	<script src="theme/js/jquery-3.3.1.min.js"></script>
	<script src="theme/js/bootstrap.min.js"></script>
	<script src="resources/angular.min.1.5.2.js"></script>
	<script src="resources/angular-route.1.5.2.js"></script>
	<script src="resources/angular-toaster/toaster.min.js"></script>
	<script src="resources/ngStorage.min.js"  type="text/javascript"></script>
	<script src="resources/angular-jwt.min.js"  type="text/javascript"></script>
	<script src="resources/ui-bootstrap-tpls.js"  type="text/javascript"></script>
	<script src="resources/custom.js"  type="text/javascript"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/data.js"></script>
	<script src="resources/angular-nicescroll.js"></script>
	<script src="resources/chartist.min.js"></script>
	<script src="resources/angular-chartist.js"></script>
	<script src="resources/chartist-plugin-legend.min.js"></script>
	<script src="resources/chartist-plugin-pointlabels.min.js"></script>
	<script src="resources/calendar.js"></script>		
	<script src="resources/moment.js"></script>	
	<script src="resources/fullcalendar.js"></script>
    <script src="resources/fancy-modal/angular-fancy-modal.min.js"></script>
    <script src="resources/angular-file-upload.min.js"  type="text/javascript"></script>
</body>
</html>