<html lang="UTF-8" ng-app="BugTracker" />

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timesheet</title>
    <link href="theme/css/bootstrap.min.css" rel="stylesheet">
    <link href="theme/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="theme/css/toastr.min.css" rel="stylesheet">
    <link href="theme/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="theme/css/components-rounded.css" rel="stylesheet">
    <link href="theme/css/layout.css" rel="stylesheet">
    <link href="theme/css/light.css" rel="stylesheet">
    <link href="theme/css/login.css" rel="stylesheet">
    <link href="theme/css/custom.css" rel="stylesheet">
    <link href="theme/css/chartist.min.css" rel="stylesheet">
    <link href="theme/css/fullcalendar.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="theme/js/jquery-3.3.1.min.js"></script>
    <script src="theme/js/toastr.min.js" type="text/javascript"></script>
    <script src="theme/js/main.js"></script>
    <script src="theme/js/bootstrap.min.js"></script>
    <script src="theme/js/toastr.min.js" type="text/javascript"></script>
</head>

<body>
    <!-- BEGIN PAGE SPINNER -->
    <!-- <div class="page-spinner-bar" id="page-spiner-bar">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div> -->
    <!-- END PAGE SPINNER -->




        <div class="login">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="menu-toggler sidebar-toggler">
            </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
            <!-- BEGIN LOGO -->
            <div class="logo text-left">

            </div>
            <!-- END LOGO -->
            <!-- BEGIN LOGIN -->
            <div class="content marginT0 paddingB10">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 padding20 paddingB0 paddingT10">

                        <form id="login" ng-submit="login(user)">
                            <div class="login-components">
                                <div class="form-group">
                                    <div class="create-account login-header">
                                        <p class="">
                                            <a target="_blank" href="http://www.stl-horizon.com">
                                                <img class="margin10" alt="" height="70" src="theme/img/eHorizon.png" />
                                                <h1>MealBooking</h1>
                                            </a>
                                        </p>
                                    </div>
                                    <br />
                                </div>
                                <div class="form-group paddingL15  paddingR15">
                                    <div class="form-group field-loginform-password required">
                                        <input type="text" ng-model="user.username" id="username" class="form-control"
                                            name="username" required placeholder="Username">
                                        <p class="help-block help-block-error"></p>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group paddingL15  paddingR15">
                                    <div class="form-group field-loginform-code required">
                                        <input type="password" ng-model="user.password" id="password"
                                            class="form-control" name="password" required placeholder="Password">
                                        <p class="help-block help-block-error"></p>
                                    </div>
                                    <br>
                                    <div class="login-options">
                                        <a class="text-primary pull-left" href="#">Forgot password?</a>
                                        <button type="submit" id="submit"
                                            class="btn btn-circle btn-primary uppercase pull-right" name="submit"><i
                                                class="fa fa-check"></i> Login</button>
                                    </div>
                                </div>
                            </div>
                            <div class="create-account">
                                <p>
                                    <a id="register-btn" class="">MealBooking V1.0.0</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <a target="_blank" href="http://stl-horizon.com">2018 &copy Software Technologies Ltd. <br />
                    <img class="margin10" alt="" height="80" src="theme/img/stl-logo.png" />
                    <br />
                </a>

            </div>
        </div>



</body>

</html>